---
import { Picture } from "astro:assets";
import { Clock4 } from "@lucide/astro";
import { transformRelativeTime } from "@/libs/dayjs";
import type { Announcement } from "../types/announcement.type";

interface Props extends Announcement {}
const { image, publishedAt, title, content } = Astro.props;
const shortDate = new Intl.DateTimeFormat("es-MX", {
  day: "numeric",
  month: "short",
});
---

<!-- Card image -->
<figure class="relative">
  <Picture
    widths={[240, 540, 720, 1024]}
    sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
    src={image}
    alt={title}
    formats={["avif", "webp"]}
  />
  <figcaption class="sr-only">{title}</figcaption>
  <div
    class="w-18 aspect-square bg-primary text-white absolute top-6 right-6 rounded-full flex items-center justify-center"
  >
    <time class="w-0 min-w-min leading-tight text-center font-bold text-sm">
      {shortDate.format(publishedAt)}
    </time>
  </div>
  <span
    class="absolute bg-primary text-white bottom-0 py-3 px-5 font-bold uppercase text-sm"
  >
    Avisos
  </span>
</figure>
<!--  Card body -->
<div class="p-6">
  <!-- Content -->
  <div>
    <h5 class="font-bold text-center text-xl text-neutral-800 mb-4">
      {title}
    </h5>
    <p class="text-neutral-700 text-sm/8 text-justify line-clamp-3">
      {content}
    </p>
  </div>
  <!-- Footer -->
  <div class="mt-6">
    <p class="text-sm text-neutral-600 flex items-center gap-2">
      <Clock4 className="w-4" />
      {transformRelativeTime(publishedAt)}
    </p>
  </div>
</div>
