---
import { MapPin, Phone, Send, type AstroComponent } from "@lucide/astro";
interface Props {
  contactType: "address" | "phone" | "email";
  destination: string; // email@domain.com | street one | 234 243 4565
}
type CommunicationType = {
  icon: AstroComponent;
  title: string;
  htmlTag: "address" | "a";
};
const communication: Record<Props["contactType"], CommunicationType> = {
  address: {
    icon: MapPin,
    title: "Dirección",
    htmlTag: "address",
  },
  email: {
    icon: Send,
    title: "Correo electrónico",
    htmlTag: "a",
  },
  phone: {
    icon: Phone,
    title: "Teléfono",
    htmlTag: "a",
  },
};
const { contactType, destination } = Astro.props;
const MatchedCommunication = communication[contactType];
const linkPrefix = contactType === "email" ? "mailto:" : "tel:+";

/**
 * 
 Correo electrónico
Teléfono
Dirección
 */
---

<div class="flex flex-col items-center">
  <div
    class="bg-primary text-white w-15 h-15 flex items-center justify-center rounded-full overflow-hidden mb-8"
  >
    <MatchedCommunication.icon class="w-5" />
  </div>
  <h6 class="text-primary font-semibold mb-2">
    {MatchedCommunication.title}
  </h6>
  {
    MatchedCommunication.htmlTag === "address" ? (
      <MatchedCommunication.htmlTag class="text-neutral-800 hyphens-auto text-pretty max-w-3xs text-center grow-0">
        {destination}
      </MatchedCommunication.htmlTag>
    ) : (
      <MatchedCommunication.htmlTag
        class="text-neutral-800"
        href={`${linkPrefix}${destination}`}
      >
        {destination}
      </MatchedCommunication.htmlTag>
    )
  }
</div>
